* {
  color: white;
}

.mat-toolbar {
  background-color: rgb(33, 150, 243);
}

.link {
  padding: 4px 0;
  font-size: 18px;
  text-transform: none;
  text-decoration: none;
  &:hover {
    border-bottom: 2px solid #ffa726;
    margin-bottom: -2px;
  }
}

.link-active {
  border-bottom: 2px solid #ffa726;
  margin-bottom: -2px;
}

.app-name {
  flex: 1;
}

.app-links {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
