<!-- <nav>
  <a routerLink="dashboard" class="link" routerLinkActive="active">Dashboard</a>
  <a routerLink="post" class="link" routerLinkActive="active">All Posts</a>
  <a routerLink="album" class="link" routerLinkActive="active">Photo Album</a>
  <a routerLink="todo" class="link" routerLinkActive="active">Your Todos</a>
</nav> -->

<mat-toolbar>
  <h6 class="app-name">Demo Angular GraphQL</h6>
  <div class="app-links">
    <div *ngFor="let link of links">
      <a
        routerLink="{{ link.path }}"
        class="link"
        routerLinkActive="link-active"
      >
        {{ link.name }}
      </a>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
